body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
#first-border{
    border-left:8px solid;
    border-image: linear-gradient(rgb(79, 154, 216),cyan);
    border-image-slice: 1;
}
.blue-color{
    color: rgb(143, 197, 241);
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    width:50%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.button{
    font-weight: 700;
    color: white;
    background-color: rgb(78, 159, 235);
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 8px;
}
.picture img{
max: width 150px;;
max-height: 180px;
}
.header{
    text-align: center;
}
.missions{
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 15px;
}
#mission{
    background-color: rgb(194, 211, 160);
}
#vision{
    background-color: rgb(229, 182, 190);
}
#goals{
    background-color: rgba(39, 191, 211, 0.164);
}
footer{
    font-family: cursive;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

